#cli {
	width: 75vh;
}

#queue-div {
	height: 10vh;
	overflow-y:scroll;
	overflow-x: hidden;
}

#environment {
	height: 10vh;
}

li {
  list-style-type: none;
}

.output {
	height: 50vh;
	overflow-y:scroll;
	overflow-x: hidden;
}

.info {
	height: 90vh;
	overflow-y:scroll;
	margin-top: 50px;
}
